.jumbotron .display-4{
    background-color:#7a7a7e;
}
.nav>a {
    background: #cee4b1;
    color: #000;
    font-size: 18px;
    border: 1px solid;
}
.jumbotron p.lead a {
    border: 1px solid;
    padding: 10px;
}

.blog-post:first-of-type{
    background-color:#617366 ;
    font-size: large;
}
.nav>a:nth-child(even){
    background:#ffcdc0;
}
.blog-post:last-of-type{
    background-color:#617366 ;
    font-size: large;
}

.blog-post:nth-of-type(2) .blog-post-meta a {
    padding: 4px;
    background-color: #617366;
    color: beige;
}

body p:last-of-type a {
    background-color: #617366;
    color: #000;
    padding: 10px;
}
.blog-sidebar div:nth-of-type(2) ol{
    border: 1px solid;
}